.userorpass {
    background-color: rgb(3, 17, 35);

    width: 500px;
    margin: auto;
    padding-top: 20px;
   
    padding-bottom: 80px;
    margin-bottom: 80px;
  }
  .userorpass-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    
  }
  .user{
   width: 300px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
  }
  .pass{
    border: 1px solid white;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
  }
  .inp-user{
        border: none;
        outline: none;
        width: 290px;
        padding: 2px;
        font-size: small;
        background-color: rgb(3, 17, 35);
        color: white;
       
  }
  .inp-pass{
    border: none;
    outline: none;
    width: 290px;
    padding: 2px;
    font-size: small;
    background-color: rgb(3, 17, 35);
    color: white;
   
  }
  .lab-pass{
    font-size: small;
    font-weight: bold;
    color: white;
    
  }
  .lab-email{
    font-size: small;
    font-weight: bold;
    color: white;
  }
 .login-btn{
    width: 310px;
    padding-top:12px ;
    padding-bottom: 12px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-top: 5px;
    background-color:rgb(3, 17, 35); 
    color: white;
    border: 1px solid white;
    outline: none;
 }
 .login-btn:hover {
    color:rgb(3, 17, 35) ;
    background-color:white ;
 }
  .hori-login{
    width: 120px;
    color: black;
   
  }
.login-horizontal{
    display: flex;
    padding-top: 15px;
    gap: 7px;
}
.continue{
    font-weight: bold;
    margin-top: -5px;
    color: white;
}

/*continue with*/


.google-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
    gap: 15px;
    color: white;
}
.facebook-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
}
.twitter-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
   justify-content: center;
   padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
    gap: 15px;
    color: white;
}
.continue-with{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-head{
    text-align: center;
   color: white;
  margin-top: 0px;
    
}
.close-btn{
  margin-left: 430px;
  font-size: 25px;
  background-color:rgb(3, 17, 35);
  border: none;
  outline: none;
  color: white;
}
.forgot-password-btn{
  background-color:rgb(3, 17, 35);
  border: none;
  outline: none;
  color: white;
  text-decoration: underline;
}