.admin-header{
    display: flex;
   background-color:  rgb(3, 17, 35);
    justify-content: center;
    gap: 120px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.admin-main{
    display: flex;
    padding-left: 50px;
    gap: 100px;
    color: white;
}
.logout-admin{
  color: white;
  background-color:  rgb(3, 17, 35);
  border: none;
  outline: none;
  font-size: medium;
   font-weight: bold;
}
.view-product{
   display: flex;
   gap: 30px;
   padding-bottom: 20px;
}
.search-bar{
    display: flex;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-top: 0px;
    background-color: white;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 20px;
}
.admin-main{
    background-color:  rgb(3, 17, 35);
}
.icon-admin{
    margin-top: 5px;
    color: rgb(3, 17, 35);
}
.search-admin{
    border: none;
}
.admin-admin{
    margin-top: 13px;
}
.adminbtns{
    background-color:rgb(3, 17, 35) ;
    color:white;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 25px;
   font-size: medium;
   font-weight: bold;
   outline: none;
   border: none;
}
.ind-main{
    display: flex;
}
.main-sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
   padding-right: 50px;
    border: 1px solid rgb(3, 17, 35);
    padding-top: 20px;
    padding-bottom: 280px;
    margin-top: 0px;
}
.dashboarsicons{
    color:rgb(3, 17, 35) ;
    padding-left: 10px;
   
}
.side-btns{
    color:rgb(3, 17, 35) ;
    font-size: medium;
    border: none;
    outline: none;
    background-color: white;
    width: 120px;
    margin-left: -10px;
}
.main-sidebar div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .dashboarsicons {
    margin-right: 15px;
  }
  
  .icon-text {
    font-size: 16px; 
  }

  /*add product*/
  .add-pro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 400px;
  }
  .add-prohead{
    padding-left: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
 .add-prohead{
    color: rgb(3, 17, 35);
 }
 .addProduct{
   
    padding-right: 400px;
    padding-bottom: 50px;
 }
 .hov-spann:hover{
   border: 2px solid rgb(3, 17, 35);
  
 }
 .inputscarts{
    display: flex;
    gap: 10px;
    border-bottom: 2px solid rgb(3, 17, 35);
 }
 .inputscartscategory{
    display: flex;
    gap: 30px;
   
 }
 .input-form{
    border: none;
   
    padding: 10px;
    outline: none;
 }
 .inputscartsrate{
    display: flex;
    gap: 30px;
    border-bottom:  2px solid rgb(3, 17, 35);
   
 }
 .ratescale{
   width: 250px;
 }
  
 textarea{
    border: none;
    outline: none;
    width: 270px;
 }
 select{
    width: 100px;
   padding-left: 5px;
   padding-right: 5px;
 }
 .addprod{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
 }
 .addprod:hover{
   color:  rgb(3, 17, 35);
   background-color: white;
   border: 2px solid rgb(3, 17, 35);
 }

 /*delete*/
 .admin-delte{
    padding-left: 400px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .delete-inp{
    border-bottom: 1px solid rgb(3, 17, 35);
 }
 .inpvalues{
    border: none;
 }
 .inpvaluescat{
    padding-left: 10px;
    margin-left: 20px;
    
 }
 .dltebtn{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    margin-left: 60px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .dlte-head{
    margin-left: 10px;
    padding-bottom: 20px;
 }
 .update-btn{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .view-all{
   overflow-y: scroll;
   max-height: 700px;
 }
 .viewproducts-head{
   text-align: center;
  color: rgb(3, 17, 35);
 }
 .viewall-img{
   width: 200px;
 }
 .viewall-ul{
   list-style-type: none;
 }
 .view-all::-webkit-scrollbar {
   display: none;
 }
 
 
 .view-all {
   -ms-overflow-style: none; 
   scrollbar-width: none; 
 }
 .viewall-btns{
   display: flex;
   gap: 20px;
 }
 .view-btn{
   background-color: rgb(3, 17, 35);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    border: none;
    outline: none;
   width: 50px;
 }

 /*user view*/
 
.blck-btn{
   background-color: rgb(3, 17, 35);
   color: white;
   outline: none;
  
}
.useradmin-icon{
   color: rgb(3, 17, 35);
}
.users-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 40px;
   margin-left: 60px;
 }
 
 .users-table th, .users-table td {
   border: 1px solid #ddd;
   padding: 8px;
  
   text-align: left;
   text-align: center;
   width: 200px;
 }
 
 .users-table th {
   background-color: #f2f2f2;
 }
 
 .users-table tbody tr:nth-child(even) {
   background-color: #f9f9f9;
 }
 
 .users-table tbody tr:hover {
   background-color: #e5e5e5;
 }

/* view orders */
.head-admorder{
  color: black;
}
.table-vieworder,th,td  {
  border: 1px solid black;
}
 .table-vieworder{
  margin-left: 50px;
  margin-right: 50px
 }