.admin-header{
    display: flex;
   background-color:  rgb(3, 17, 35);
    justify-content: center;
    gap: 120px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.admin-main{
    display: flex;
    padding-left: 50px;
    gap: 100px;
    color: white;
}
.logout-admin{
  color: white;
  background-color:  rgb(3, 17, 35);
  border: none;
  outline: none;
  font-size: medium;
   font-weight: bold;
}
.search-bar{
    display: flex;
    border: 1px solid white;
    margin-bottom: 20px;
    padding-top: 0px;
    background-color: white;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 5px;
    margin-top: 20px;
}
.admin-main{
    background-color:  rgb(3, 17, 35);
}
.icon-admin{
    margin-top: 5px;
    color: rgb(3, 17, 35);
}
.search-admin{
    border: none;
}
.admin-admin{
    margin-top: 13px;
}
.adminbtns{
    background-color:rgb(3, 17, 35) ;
    color:white;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 25px;
   font-size: medium;
   font-weight: bold;
   outline: none;
   border: none;
}
.ind-main{
    display: flex;
}
.main-sidebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 50px;
   padding-right: 50px;
    border: 1px solid rgb(3, 17, 35);
    padding-top: 20px;
    padding-bottom: 325px;
    margin-top: 0px;
}
.dashboarsicons{
    color:rgb(3, 17, 35) ;
   
}
.side-btns{
    color:rgb(3, 17, 35) ;
    font-size: medium;
    border: none;
    outline: none;
    background-color: white;
}
.main-sidebar div {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .dashboarsicons {
    margin-right: 15px;
  }
  
  .icon-text {
    font-size: 16px; 
  }

  /*add product*/
  .add-pro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 400px;
  }
  .add-prohead{
    padding-left: 480px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
 .add-prohead{
    color: rgb(3, 17, 35);
 }
 .addProduct{
   
    padding-right: 400px;
 }
 .inputscarts{
    display: flex;
    gap: 30px;
    border:  1px solid rgb(3, 17, 35);
 }
 .inputscartscategory{
    display: flex;
    gap: 30px;
   
 }
 .input-form{
    border: none;
    padding: 10px;
    outline: none;
 }
 .inputscartsrate{
    display: flex;
    gap: 30px;
    border:  1px solid rgb(3, 17, 35);
   
 }
 .ratescale{
   width: 250px;
 }
  
 textarea{
    border: none;
    outline: none;
    width: 270px;
 }
 select{
    width: 100px;
   padding-left: 5px;
   padding-right: 5px;
 }
 .addprod{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
 }

 /*delete*/
 .admin-delte{
    padding-left: 400px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }
 .delete-inp{
    border: 1px solid rgb(3, 17, 35);
 }
 .inpvalues{
    border: none;
 }
 .inpvaluescat{
    padding-left: 10px;
    margin-left: 20px;
    
 }
 .dltebtn{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 .dlte-head{
    margin-left: 50px;
    padding-bottom: 20px;
 }
 .update-btn{
    background-color: rgb(3, 17, 35);
    color: white;
    padding: 5px;
    border: none;
    outline: none;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
 }