.userorpass {
    background-color: white;
    border: 2px solid black;
    width: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }
  .userorpass-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    
  }
  .user{
   width: 300px;
    border: 1px solid rgb(209, 207, 207);
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
  }
  .pass{
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
  }
  .inp-user{
        border: none;
        outline: none;
        width: 290px;
        padding: 2px;
        font-size: small;
       
  }
  .inp-pass{
    border: none;
    outline: none;
    width: 290px;
    padding: 2px;
    font-size: small;
  }
  .lab-pass{
    font-size: small;
    font-weight: bold;
    
  }
  .lab-email{
    font-size: small;
    font-weight: bold;
  }
 .login-btn{
    width: 310px;
    padding-top:12px ;
    padding-bottom: 12px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-top: 25px;
    background-color: rgb(96, 158, 251) ;
    color: white;
    border:  none;
    outline: none;
 }
 .login-btn:hover {
    background-color:rgb(137, 161, 197) ;
 }
  .hori-login{
    width: 120px;
    color: black;
   
  }
.login-horizontal{
    display: flex;
    padding-top: 15px;
}
.continue{
    font-weight: bold;
    margin-top: -5px;
}

/*continue with*/


.google-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
    gap: 15px;
}
.facebook-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
}
.twitter-div{
    display: flex;
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    margin-left: 100px;
   justify-content: center;
   padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    font-weight: bold;
    gap: 15px;
}
.continue-with{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-head{
    text-align: center;
    
}