.reg-head{
    text-align: center;
    color: white;
   
}
.reg-sub{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    align-items: center;
    
}
.reg-content{
    background-color: rgb(131, 130, 130);
    padding: 20px;
  
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 70px;
}
.reguser,.regusername{
    width: 300px;
    border: 1px solid rgb(209, 207, 207);
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 10px;
    
}
.reglab-email{
    font-size: small;
    font-weight: bold;
    color: white;
}
.reglab-username,.reglab-phone{
    font-size: small;
    font-weight: bold;
    color: white;
}
.reginp-user,.reginp-email,.reginp-phone{
    border: none;
    outline: none;
    width: 290px;
    padding: 2px;
    font-size: small;
    background-color: rgb(131, 130, 130);
   
}
.reg-pass{
    border: 1px solid rgb(209, 207, 207);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    
    padding-left: 10px;
}
.reglab-pass{
    font-size: small;
    font-weight: bold;
    color: white;
}
.reg-inp-pass{
    border: none;
    outline: none;
    width: 290px;
    padding: 2px;
    font-size: small;
    background-color: rgb(131, 130, 130);
}
.reg-btn{
    width: 310px;
    padding-top:12px ;
    padding-bottom: 12px;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 20px;
    margin-top: 25px;
    background-color:rgb(74, 73, 73); 
    color: white;
    border:  1px solid white;
    outline: none;
}
.reg-btn:hover{
    background-color:rgb(104, 103, 103) ;
}
.reg-main{
    background-color: white;
    border: 2px solid black;
    width: 500px;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    padding-bottom: 60px;
    margin-bottom: 100px;
}
.reg-horizontal{
    display: flex;
    
}
.continue-reg{
    font-size: small;
    font-weight: 500;
}
.error-email,
.error-phone,
.error-username,
.error-pass{
    color: yellow;
    font-size: small;
}
.close-btn{
    margin-left: 430px;
    font-size: 25px;
    background-color: rgb(131, 130, 130);
    border: none;
    outline: none;
    color: white;
  }
